[Unit]
Description=Battery monitoring daemon with batsignal
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/batsignal -b -w 20 -c 10 -d 5
Restart=on-failure
RestartSec=30
StartLimitIntervalSec=300
StartLimitBurst=5

[Install]
WantedBy=default.target
